# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Env files
.env

# Build
/backend/dist
/build

# Other files/folders to ignore...


# Lock files (optional, but generally useful to keep)
frontend/package-lock.json
backend/package-lock.json
