# Node modules
/frontend/node_modules/
/backend/node_modules/

# Editor
/frontend/node_modules/.vscode/*
/backend/node_modules/.vscode/*
# Logs
logs/
*.log
npm-debug.log*
# Env files
/backend/.env
# Build
/backend/dist
/build
# Lock Files
/backend/package-lock.json
/frontend/package-lock.json
